.container-main {
  display: block;
  padding: 15px;
}

.container-content {
  display: block;
  margin-top: 20px;
}

.file-input {
  display: none;
}

.container-form-field {
  width: 250px;
  margin-right: 20px;
}
.container-form-field-small {
  width: 220px;
  margin-right: 20px;
}
.container-chip-list {
  width: 400px;
}

#table-total-cost {
  font-size: 14pt;
  font-weight: 500;
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
