<div class="container-main" *ngIf="summary$ | async as s">
  <div style="position: absolute; text-align: right; width: 90%; z-index: 2">
    <mat-icon
      style="margin-left: 10px"
      color="warn"
      (click)="delete(s[0].transaction_id)"
      >delete</mat-icon
    >
    <mat-icon
      *ngIf="shareSupported"
      style="margin-left: 20px"
      color="primary"
      (click)="share()"
      >share</mat-icon
    >
  </div>
  <div
    id="page-summary"
    style="
      background-color: white;
      padding: 10px;
      width: 90%;
      position: absolute;
      z-index: 1;
    "
  >
    <div *ngIf="s[0].transaction_type == 'expense'">
      <h3>
        <span style="vertical-align: middle"> Expenses for </span>
        <span style="vertical-align: middle"
          >{{ s[0].description | uppercase }} on
          {{ s[0].date | date : "d MMM yyyy" }}</span
        >
        <span
          *ngIf="s[0].attachment == 'Y'"
          style="vertical-align: middle; margin-left: 10px"
        >
          <a [href]="url" target="_blank">
            <mat-icon>receipt</mat-icon>
          </a>
        </span>
      </h3>
      <p style="font-style: italic; font-size: smaller">
        recorded by
        <strong>
          {{
            !!activeUser
              ? s[0].recorded_by.email == activeUser.email
                ? "you"
                : (s[0].recorded_by.name | titlecase)
              : (s[0].recorded_by.name | titlecase)
          }}
        </strong>
        on {{ s[0].recorded_date | date : "d MMM yyyy" }}
      </p>

      <div class="container-content">
        <h4>
          {{
            !!activeUser
              ? s[0].who_paid.email == activeUser!.email
                ? "You"
                : (s[0].who_paid.name | titlecase)
              : (s[0].who_paid.name | titlecase)
          }}

          paid ${{ s[0].total_amount | number : "1.2-2" }}
        </h4>

        <ul *ngFor="let share of s">
          <li
            [routerLink]="['/records']"
            [queryParams]="{
              friendEmail:
                share.who_borrowed.email == activeUser?.email
                  ? share.who_paid.email
                  : share.who_borrowed.email
            }"
          >
            {{
              !!activeUser
                ? share.who_borrowed.email == activeUser!.email
                  ? "You owe"
                  : (share.who_borrowed.name | titlecase) + " owes"
                : (share.who_borrowed.name | titlecase) + " owes"
            }}

            {{
              !!activeUser
                ? share.who_paid.email == activeUser!.email
                  ? "you"
                  : (share.who_paid.name | titlecase)
                : (share.who_paid.name | titlecase)
            }}

            ${{ share.who_borrowed.share_amount | number : "1.2-2" }}
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="s[0].transaction_type == 'settlement'">
      <h3>Repayment</h3>
      <p style="font-style: italic; font-size: smaller">
        recorded by
        <strong>
          {{
            !!activeUser
              ? s[0].recorded_by.email == activeUser.email
                ? "you"
                : (s[0].recorded_by.name | titlecase)
              : (s[0].recorded_by.name | titlecase)
          }}
        </strong>
        on {{ s[0].recorded_date | date }}
      </p>
      <div class="container-content">
        <h4>
          {{
            !!activeUser
              ? s[0].who_paid.email == activeUser.email
                ? "You"
                : (s[0].who_paid.name | titlecase)
              : (s[0].who_paid.name | titlecase)
          }}

          made a repayment of ${{ s[0].total_amount | number : "1.2-2" }} to
          {{
            !!activeUser
              ? s[0].who_borrowed.email == activeUser.email
                ? "you"
                : (s[0].who_borrowed.name | titlecase)
              : (s[0].who_borrowed.name | titlecase)
          }}
        </h4>
      </div>
    </div>
  </div>
</div>
