<div class="container" *ngIf="records$ | async as records">
  <h3>Expenses with {{ friend.name | titlecase }}</h3>

  <p *ngIf="friend.amount_outstanding > 0" style="color: #58d68d">
    Overall, {{ friend.name | titlecase }} owes you ${{
      friend.amount_outstanding | number : "1.2-2"
    }}
  </p>
  <p *ngIf="friend.amount_outstanding < 0" style="color: #e74c3c">
    Overall, you owe {{ friend.name | titlecase }} ${{
      -friend.amount_outstanding | number : "1.2-2"
    }}
  </p>

  <button
    mat-raised-button
    color="primary"
    (click)="openDialog()"
    style="width: 150px; margin-bottom: 15px; margin-right: 10px"
    [disabled]="friend.amount_outstanding == 0"
  >
    <mat-icon>local_atms</mat-icon>
    Settle Up
  </button>
  <button
    mat-raised-button
    color="basic"
    style="width: 150px; margin-bottom: 15px; margin-left: 10px"
  >
    <mat-icon> notifications_active </mat-icon>
    Remind
  </button>
  <hr />
  <table *ngFor="let r of records">
    <tr height="50px" (click)="getTransaction(r.transaction_id)">
      <td width="150px">{{ r.date | date : "d MMM yyyy" }}</td>
      <td
        style="font-weight: bold"
        width="300px"
        *ngIf="r.transaction_type == 'expense'"
      >
        {{ r.description | uppercase }}
        <br />
        <span style="font-weight: 100; font-style: italic; font-size: 0.9em"
          >{{
            r.who_paid.email == activeUser!.email
              ? "You"
              : (r.who_paid.name | titlecase)
          }}
          paid ${{ r.total_amount | number : "1.2-2" }}</span
        >
      </td>
      <td
        style="color: #58d68d"
        *ngIf="
          r.who_paid.email == activeUser!.email &&
          r.transaction_type == 'expense'
        "
      >
        You lent ${{ r.who_borrowed.share_amount | number : "1.2-2" }}
      </td>
      <td
        style="color: #e74c3c"
        *ngIf="
          r.who_paid.email != activeUser!.email &&
          r.transaction_type == 'expense'
        "
      >
        You borrowed ${{ r.who_borrowed.share_amount | number : "1.2-2" }}
      </td>
      <td
        style="font-weight: bold"
        width="300px"
        *ngIf="r.transaction_type == 'settlement'"
      >
        REPAYMENT
        <br />
        <span style="font-weight: 100; font-style: italic; font-size: 0.9em"
          >{{
            r.who_paid.email == activeUser!.email
              ? "You"
              : (r.who_paid.name | titlecase)
          }}
          returned
          {{
            r.who_borrowed.email == activeUser!.email
              ? "you"
              : (r.who_borrowed.name | titlecase)
          }}
          ${{ r.total_amount | number : "1.2-2" }}</span
        >
      </td>
    </tr>
  </table>
  <button
    mat-raised-button
    type="button"
    [routerLink]="['/home']"
    style="width: 100px; margin-top: 15px"
  >
    Back
  </button>
</div>
<!-- <div class="container">
  <h3>Expenses with {{ friend.name | titlecase }}</h3>

  <p *ngIf="friend.amount_outstanding > 0" style="color: #58d68d">
    Overall, {{ friend.name | titlecase }} owes you ${{
      friend.amount_outstanding | number : "1.2-2"
    }}
  </p>
  <p *ngIf="friend.amount_outstanding < 0" style="color: #e74c3c">
    Overall, you owe {{ friend.name | titlecase }} ${{
      -friend.amount_outstanding | number : "1.2-2"
    }}
  </p>

  <button
    mat-raised-button
    color="primary"
    (click)="openDialog()"
    style="width: 150px; margin-bottom: 15px; margin-right: 10px"
    [disabled]="friend.amount_outstanding == 0"
  >
    <mat-icon>local_atms</mat-icon>
    Settle Up
  </button>
  <button
    mat-raised-button
    color="basic"
    style="width: 150px; margin-bottom: 15px; margin-left: 10px"
  >
    <mat-icon> notifications_active </mat-icon>
    Remind
  </button>
  <hr />
  <table *ngIf="records$ | async as records">
    <tr
      *ngFor="let r of records"
      height="50px"
      (click)="getTransaction(r.transaction_id)"
    >
      <td width="150px">{{ r.date | date : "d MMM yyyy" }}</td>
      <td
        style="font-weight: bold"
        width="300px"
        *ngIf="r.transaction_type == 'expense'"
      >
        {{ r.description | uppercase }}
        <br />
        <span style="font-weight: 100; font-style: italic; font-size: 0.9em"
          >{{
            r.who_paid.id == activeUser!.id
              ? "You"
              : (r.who_paid.name | titlecase)
          }}
          paid ${{ r.total_amount | number : "1.2-2" }}</span
        >
      </td>
      <td
        style="color: #58d68d"
        *ngIf="
          r.who_paid.id == activeUser!.id && r.transaction_type == 'expense'
        "
      >
        You lent ${{ r.who_borrowed.share_amount | number : "1.2-2" }}
      </td>
      <td
        style="color: #e74c3c"
        *ngIf="
          r.who_paid.id != activeUser!.id && r.transaction_type == 'expense'
        "
      >
        You borrowed ${{ r.who_borrowed.share_amount | number : "1.2-2" }}
      </td>
      <td
        style="font-weight: bold"
        width="300px"
        *ngIf="r.transaction_type == 'settlement'"
      >
        REPAYMENT
        <br />
        <span style="font-weight: 100; font-style: italic; font-size: 0.9em"
          >{{
            r.who_paid.id == activeUser!.id
              ? "You"
              : (r.who_paid.name | titlecase)
          }}
          paid
          {{
            r.who_borrowed.id == activeUser!.id
              ? "You"
              : (r.who_borrowed.name | titlecase)
          }}
          ${{ r.total_amount | number : "1.2-2" }}</span
        >
      </td>
    </tr>
  </table>
  <button
    mat-raised-button
    type="button"
    [routerLink]="['/home']"
    style="width: 100px; margin-top: 15px"
  >
    Back
  </button>
</div> -->
