<div class="container">
  <h3>Friends</h3>

  <mat-form-field style="width: 250px">
    <input
      matInput
      type="text"
      size="50"
      placeholder="Search friend by email"
      (keyup)="sendInput(search.value)"
      #search
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="basic"
    type="button"
    (click)="addFriend(search.value)"
    style="margin-left: 20px"
  >
    <mat-icon>add</mat-icon>
    Add
  </button>

  <hr />

  <table *ngIf="friends$ | async as friends" style="margin-top: 30px">
    <tr *ngFor="let friend of friends">
      <td
        [routerLink]="['/records']"
        [queryParams]="{ friendEmail: friend.email }"
      >
        {{ friend.name | titlecase }}
        <span style="font-weight: 200; font-style: italic; margin-left: 10px">{{
          friend.email
        }}</span>
      </td>
    </tr>
  </table>
</div>
